@import "../../style/global.style.scss";

.lyric_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  p {
    line-height: 2.666667rem;
    color: rgba(255, 255, 255, 0.5);
    white-space: normal;
    font-size: $font-size-l;
    &.current {
      color: #fff;
    }
    &.pure {
      position: relative;
      top: 30vh;
    }
  }
  
} 